@import './reset';
@import './shared';

body {	
	color: $colour_main;
}

a {
	color: $colour_link;
	border-color: $colour_link;
}

.video_background {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	overflow: hidden;
	background: #000;
	pointer-events: hidden;
	display: none;
	.iframe_holder {
		position: absolute;
		left: 0;
		top: -100%;
		height: 300%;
		overflow: hidden;
		background: #000;
		width: 100%;
		iframe {
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
		}
	}
}

.main_header, .main_content {
	padding: 20px;
}

.main_header {
	font-size: 2em;
	color: #fff;
	background: $colour_main;
	h1 {
		text-shadow: 1px 1px #666;
		margin: 0;
		a {
			border: none;
			color: inherit;
		}
		strong {
			text-transform: uppercase;
			font-weight: bold;
			letter-spacing: -0.05em;
			display: inline-block;
			margin-right: 10px;
		}
	}
}

.search_area {	
	.search_form {	
		background: #c70303;
		color: #fff;
		padding: 2px;
		box-sizing: border-box;
		border-radius: 5px;
		margin-top: 10px;
		display: flex;
		input, select, label {
			display: inline-block;
			box-sizing: border-box;
		}
		label {
			width: 75px;
			padding: 5px 10px;
		}
		select {
			width: 150px;
			margin-right: 5px;
			color: $colour_main;
		}
		input {
			display: flex;
			flex-grow: 1;
			border:0;
			padding: 0 10px;
			border-radius: 5px;
			color: $colour_main;
		}
		input::placeholder {
			color: $colour_main;
		}
	}
	.search_results {
		margin-left: 240px;
	}
}

.page {
	section {
		clear: both;
		margin-top: 20px;
	}
	header.title {		
		h1 {
			font-size: 3em;
		}
	}	
	.fetchingIcon {
		font-size: 2em;
		margin-right: 20px;
	}
	.summary {
		img {
			width: 25%;
			float: left;
			display: block;
			margin-bottom: 10px;
		}
		dl {
			display: inline-block;
			float: left;
			max-width: 75%;
			padding-left: 20px;
			box-sizing: border-box;
			dt, dd {
				display: block;
				line-height: 1.5em;
			}
			dt {
				float: left;
				font-family: 'Raleway', Arial, sans-serif;
			}
			dd {
				margin-left: 110px;
				margin-bottom: 10px;
			}
		}
		&:after {
			display: block;
			content: '';
			clear: both;
		}
	}
	.associated_list {
		h1 {
			border-bottom: 1px solid $colour_main;
			padding-bottom: 5px;
		}
		ul {
			li {
				display: inline-block;
				box-sizing: border-box;
				margin: 0 10px 10px 0;
			}
		}
		&.text_list {
			ul {
				display: flex;
				flex-wrap: wrap;
				li {
					background: #efefef;
					flex: 1 0 calc(33.33% - 10px);
					&:nth-child(3n), &:last-child {
						margin-right: 0;
					}
					a {
						position: relative;
						padding: 10px;
						display: flex;
						justify-content: center;
						height: 100%;
						flex-direction: column;
						box-sizing: border-box;
						border: none;
						.icon {
							position: absolute;
							top: 50%;
							margin-top: -8px;
						}
						span {
							display: block;
							margin-left: 25px;
						}
						&:after {
							display: block;
							content: '';
							position: absolute;
							box-sizing: border-box;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							border-bottom: 0px solid $colour_link;
							transition: border 200ms;
						}
						&:hover {
							&:after {
								border-width: 3px;
							}
						}
					}
				}
			}
		}
		&.image_list {
			ul {
				li {
					height: 200px;
					a, img {
						display: block;
						height: 100%;
					}
				}
			}
		}
		
	}
}




