* {
	margin: 0;
	padding: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline; 
}

ul, li {
	list-style: none;
	list-style-type: none;
}

body {
	min-height: 100vh;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', Arial, sans-serif;
	font-size: 1.4em;
	margin-bottom: 10px;
}

p {
	line-height: 1.5em;
}

a {
	text-decoration: none;
	transition: all .2s ease-in-out;
	&:hover {
		border-bottom: 3px solid;
	}
	img {
		border: none;
	}
}

a, select, input {
	&:focus {
		outline: none;
	}
}